<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <title>Prices</title>
</head>

<body>
  <div>
    <article class="prose m-auto text-center prose-h1:text-5xl mt-11 mb-40 first-of-type:prose-h2:font-semibold">
      {{content | safe}}
    </article>

  </div>


  <body />

</html>